.git/
.build/
.github/
.vscode/
.wal/
build/package/docker/
.gitattributes
.gitignore
.DS_Store
proto/
deployments/
.editorconfig
.gitmodules
.golangci.yml
.goreleaser.yaml
.local_env
cmd/kwild/kwild
cmd/kwil-admin/kwil-admin
cmd/kwil-cli/kwil-cli
**/__debug_bin.exe
**/__debug_bin*
**/_*
**/.testnet
