**/vue/node_modules
**/vue/dist
**/release/
**/.idea/
.vscode/
**/.DS_Store
**/tmp/
**/finished_logs/
**/.kwal/
cmd/kwil-cosmos/cmd/kwild/kwild
cmd/kwil-cosmos/cmd/kwild/kwild.exe
keys/cosmos
.kwilbadger/
.testkwilbadger/
.wal/
cmd/cmd
.lck
.data/
.build/
.task/
**/__debug_bin.exe
**/__debug_bin
.pgdata/
.DS_Store