**/vue/node_modules
**/vue/dist
**/release/
**/.idea/
#.vscode/
**/.DS_Store
**/tmp/
**/finished_logs/
**/.kwal/
cmd/kwil-cosmos/cmd/kwild/kwild
cmd/kwil-cosmos/cmd/kwild/kwild.exe
keys/*
.kwilbadger/
.wal/
.testkwilbadger/
/cmd/kwil-cosmos/cmd/kwild/__debug_bin