version: "3"

services:
  node0:
    user: "${UID}:${GID}"
  node1:
    user: "${UID}:${GID}"
  node2:
    user: "${UID}:${GID}"
  node3:
    user: "${UID}:${GID}"
  ext1:
    user: "${UID}:${GID}"
  ext3:
    user: "${UID}:${GID}"
  kgw:
    user: "${UID}:${GID}"