name: main

on:
  push:
    branches:
      - main

jobs:
  kgw-test-main:
    name: Run KGW test on main
    uses: ./.github/workflows/kgw-test-reuse.yaml
    with:
      kdb-ref: main
      kgw-ref: main
      kjs-ref: main
    secrets:
      kgw-access-token: ${{ secrets.KGW_MACH_SECRET_FOR_KWILDB }}